# ==================== SERVER CONFIGURATION ====================
PORT=YOUR_SERVER_PORT_HERE
NODE_ENV=YOUR_NODE_ENV_HERE
IP=YOUR_SERVER_IP_HERE

# ==================== JWT & AUTH CONFIGURATION ====================
SECRET_KEY=your-jwt-secret-key-here
REFRESH_TOKEN_SECRET=your-super-secret-refresh-token-key-here

# ==================== SMTP CONFIGURATION ====================
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=YOUR_SMTP_PORT_NUMBER_HERE
SMTP_USER="YOUR_SMTP_USER_HERE"
SMTP_PASS="YOUR_SMTP_PASSWORD_HERE"

# ==================== HRMS EMAIL CONFIGURATION ====================
HRMS_SMTP_FROM="YOUR HRMS SMTP FROM HERE"
HRMS_DASHBOARD_URL="Your HRMS DASHBOARD URL HERE""

# ==================== AZURE EVENT HUB (API LOGGING) ====================
EVENT_HUB_CONNECTION_STRING="YOUR EVENT HUB CONNECTION STRING HERE"
EVENT_HUB_NAME="YOUR EVENT HUB NAME HERE"

# ==================== AZURE SERVICE BUS (LOGGING QUEUE) ====================
AZURE_SERVICE_BUS_CONNECTION_STRING="YOUR AZURE SERVICE BUS CONNECTION STRING HERE"
AZURE_SERVICE_BUS_QUEUE_NAME="YOUR AZURE SERVICE BUS QUEUE NAME HERE"

# ==================== LOGGING CONFIGURATION (Optional) ====================
BATCH_SIZE=1
FLUSH_INTERVAL=30000
SLOW_THRESHOLD=10000

# ==================== DATABASE CONFIGURATION ====================
DATABASE_OUTPUT_NAME=YOUR DATABASE NAME HERE
DATABASE_OUTPUT_USER=YOUR DATABASE USER HERE
DATABASE_OUTPUT_PASSWORD=YOUR DATABASE PASSWORD HERE
DATABASE_OUTPUT_PORT=YOUR DATABASE PORT HERE
DATABASE_OUTPUT_HOST=YOUR DATABASE HOST HERE
DATABASE_OUTPUT_DIALECT=mysql

# ==================== CRON JOB CONFIGURATION ====================
CRON_JOB_MACHINE_HOSTNAME=YOUR_MACHINE_HOSTNAME_HERE
