<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="color-scheme" content="light dark">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap"
    rel="stylesheet">
  <style>
    .intimation {
      font-family: 'Plus Jakarta Sans', sans-serif;
      color: white;
      padding-left: 140px;
      padding-right: 140px;
      margin-bottom: 25px;
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.18px;
    }

    .message {
      padding-left: 76px;
      padding-right: 71px;
      text-align: left;
      color: white;
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.18px;
    }

    .button {
      width: 120px;
      height: 30px;
      background-color: rgba(253, 147, 32, 0.8);
      border-radius: 20px;
      border: none;
      margin-top: 10px;
      margin-bottom: 15px;
      color: white;
    }

    @media screen and (max-width: 600px) {

      .intimation,
      .message {
        padding-left: 12%;
        padding-right: 12%;
      }
    }
  </style>
</head>

<body>
  <div
    style="width:100%;padding:0;margin:0;box-sizing:border-box;background: #033348;padding:2% 4%;padding-bottom: 4%;">
    <img style="height: 60px;width: 60px;padding-left:4%;margin-top:1%;margin-bottom:1.5%;"
      src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/mittarv_logo_white_tm.png" />

    <div style="background: #054A68;padding:2% 4%;margin-bottom:2%;border-radius: 5px;text-align: center;">
      <img style="margin-top:40px;margin-bottom:1.5%; width: 98px; height: 43px;"
        src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/we_miss_you_2.png" />
      <h2
        style="margin-bottom: 20px;color:white;font-weight:700;font-family: 'Plus Jakarta Sans', sans-serif;font-size: 14px;letter-spacing: 1.5%; text-align: center;">
        We Miss You!</h2>
      <h2
        style="margin-bottom: 20px;color:white;font-weight:700;font-family: 'Plus Jakarta Sans', sans-serif;font-size: 14px;letter-spacing: 1.5%; text-align: center;">
        Come back and continue building <br /> your legacy.</h2>
      <p class="message">
        We hope this email finds you well. Thank you for your previous use of Mitt Arv! We noticed that it's been a
        while since you've logged in, and we wanted to remind you thatMitt Arv offers a variety of features and benefits
        that you may have forgotten about.<br><br>

        We understand that life can get busy, which is why we're giving you a friendly reminder that your account has
        been inactive for quite sometime. To ensure the safety of our users and maintain the integrity of our platform,
        we may need to reach out to your trusted contacts for a status update if we don't hear from you.<br><br>

        We value your privacy and want to make sure that you're in control of your data, so please log in within the
        next <b>24 hours</b> to keep your account active and up-to-date. By logging in, you'll be able to take advantage of our
        latest features and offers, and continue building your legacy with confidence.<br><br>

        Thank you for your attention to this matter. We look forward to having you back on Mitt Arv soon :)

      </p>
      <button class="button">
          <a
            href="{{redirectUrl}}"
            target="_blank"
            style="color:white;font-family: 'Plus Jakarta Sans', sans-serif;font-weight:400;font-size:12px;letter-spacing: 1.5%;margin: auto; text-decoration:none"
          >
            Sign In
          </a>
        </button>
      <div class="intimation">
      </div>
      <p
        style="font-size: 12px;font-family: 'Plus Jakarta Sans', sans-serif;color:white;font-weight:400;letter-spacing: 1.5%;text-align: center;">
        Best,<br>Team<span
          style=" font-size: 12px;font-family: 'Plus Jakarta Sans', sans-serif; color: #84B5D2;font-weight: 700;letter-spacing: 1.5%;">
          Mitt
          Arv</span><br>
        <b>Zero - Life - Infinity</b>
      </p>
      <hr
        style="height:2px;border-width:0;color:#033348;background-color:#033348;margin-top:2.5%;margin-bottom:2.5%;width:110%;margin-left: -5%;">
      <p
        style="text-align: center;font-family: 'Plus Jakarta Sans', sans-serif;font-size: 12px;color: white;letter-spacing: 1.5%;">
        For any inquiries, kindly reach out to us at<br> support@mittarv.com

      </p>
    </div>
  </div>
</body>

</html>