<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="color-scheme" content="light dark">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&amp;display=swap" rel="stylesheet">
</head>

<body>
   <p>
    Dear Recipient,<br>
    You have received a new message<br><br>
    Name: {{name}}<br>
    Email: {{email}}<br>
    Message: {{message}}
    <br><br>
    Please review and take appropriate action as needed.
    <br>
    <br>
    Best regards,<br>
    Mitt Arv
   </p>


</body></html>