<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="color-scheme"
      content="light dark"
    />
    <title>Email</title>
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body
    style="
      width: 100%;
      background-color: #033348;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Plus Jakarta Sans', Arial, sans-serif;
      color: white;
    "
  >
    <div
      class="inner-div"
      style="margin: 0 auto; max-width: 600px; width: 90%"
    >
      <img
        class="mitt-arv-logo"
        style="
          height: 40px;
          max-width: 136.9px;
          width: 100%;
          margin-top: 20px;
          margin-bottom: 20px;
        "
        src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/mitt_arv_logo_horizontal.png"
        alt="Mitt Arv"
      />
      <div
        class="inner-div-bg-color"
        style="background-color: #043D55; padding: 2% 4%"
      >
        <div
          class="image-div"
          style="text-align: center"
        >
          <img
            class="alarm-ringing"
            style="
              display: inline-block;
              margin-top: 24px;
              margin-bottom: 24px;
              height: 60px;
            "
            src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/alaram_ringing.png"
            alt="Alaram"
          />
        </div>
        <h2
          style="
            text-align: center;
            font-weight: 700;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 14px;
            margin-bottom: 32px;
            color: white;
          "
        >
          Greetings
        </h2>
        <h2
          style="
            text-align: center;
            color: white;
            font-weight: 700;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 14px;
            margin-bottom: 24px;
          "
        >
          Dear {{user_name}}!
        </h2>
        <p
          style="
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-weight: 400;
            font-size: 12px;
            margin-bottom: 24px;
            color: white;
          "
        >
          We hope you're doing well. It's been 15 days since you created a draft
          in your Emotional Will (EW) platform. Here's a friendly reminder to
          take action and save your Emotional Will.
        </p>
        <div
          class="progress-bar"
          style="height: 8px; background-color: white; border-radius: 40px"
        >
          <div
            class="progress"
            style="
              height: 8px;
              width: 33%;
              background-color: #d4545c;
              border-radius: 40px;
            "
          ></div>
        </div>
        <div style="height: 5px"></div>
        <table
          style="width: 100%; border-spacing: 0; border-collapse: collapse"
        >
          <tr>
            <td
              style="
                font-size: 12px;
                font-weight: 600;
                text-align: left;
                padding: 0;
                font-family: 'Plus Jakarta Sans', Arial, sans-serif;
                color: white;
              "
            >
              30 days remaining
            </td>
            <td
              style="
                font-size: 12px;
                font-weight: 600;
                text-align: right;
                padding: 0;
                font-family: 'Plus Jakarta Sans', Arial, sans-serif;
                color: white;
              "
            >
              out of 45 days
            </td>
          </tr>
        </table>
        <div
          class="time-sensitive-information"
          style="margin-top: 24px"
        >
          <p
            style="
              font-weight: 700;
              font-size: 14px;
              margin-bottom: 8px;
              color: white;
            "
          >
            Key Points:
          </p>
          <ul
            style="
              font-family: 'Plus Jakarta Sans', sans-serif;
              font-size: 12px;
              padding-left: 20px;
              font-weight: 400;
              color: white;
            "
          >
            <li style="color: white;" >Your draft will be automatically deleted in 30 days.</li>
            <li style="color: white;" >You have unlimited drafts, but each one has a 45-day lifespan.</li>
            <li style="color: white;" >This policy helps us manage data storage efficiently.</li>
          </ul>
        </div>
        <div
          class="time-sensitive-information"
          style="margin-top: 24px"
        >
          <p
            style="
              font-weight: 700;
              font-size: 14px;
              margin-bottom: 8px;
              color: white;
            "
          >
            Actions you can take:
          </p>
          <ul
            style="
              font-family: 'Plus Jakarta Sans', sans-serif;
              font-size: 12px;
              padding-left: 20px;
              font-weight: 400;
              color: white;
            "
          >
            <li style="color: white;" >Review your draft</li>
            <li style="color: white;" >Complete and save it as a final version</li>
            <li style="color: white;" >Continue editing if needed</li>
          </ul>
        </div>
        <p
          style="
            color: white;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-weight: 400;
            font-size: 12px;
            margin-top: 24px;
          "
        >
          Your thoughts and feelings are important. Don't let your draft
          disappear without capturing what matters most to you.
        </p>
        <div
          class="center"
          style="
            margin: auto;
            display: inline-block;
            margin-bottom: 30px;
            width: 140px;
            height: 30px;
            background-color: #fd9320;
            border-radius: 50px;
            display: flex;
          "
        >
          <a
            href="{{redirect_url}}"
            target="_blank"
            style="
              font-size: 12px;
              color: white;
              font-family: 'Plus Jakarta Sans', sans-serif;
              font-weight: 600;
              font-size: 12px;
              letter-spacing: 1.5%;
              margin: auto;
              text-decoration: none;
            "
          >
            View on Mitt Arv
          </a>
        </div>
        <p
          style="
            text-align: center;
            color: white;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-size: 12px;
            margin-top: 32px;
            margin-bottom: 24px;
          "
        >
          Warmest regards,<br />Team
          <span style="font-size: 12px; font-weight: 700; color: #84b5d2"
            >Mitt Arv</span
          ><br /><b>Zero - Life - Infinity</b>
        </p>
        <p
          style="
            margin: 0;
            padding: 0;
            font-size: 12px;
            text-align: center;
            color: white !important;
            text-decoration: none;
          "
        >
          For any inquiries, kindly reach out to us
        </p>
        <p
          style="
            margin: 0;
            padding: 0;
            font-size: 12px;
            text-align: center;
            color: white !important;
            text-decoration: none;
          "
        >
          at
          <a
            href="mailto:support@mittarv.com"
            style="color: white; text-decoration: none"
            onmouseover="this.style.color='#FD9320'"
            onmouseout="this.style.color='white'"
            >support@mittarv.com</a
          >
        </p>
        <div style="height: 32px"></div>
      </div>
      <div style="height: 56px"></div>
    </div>
  </body>
</html>
