<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="color-scheme" content="light dark">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap"
        rel="stylesheet">
    <style>
        .center {
            margin: auto;
            width: 50%;
        }
        .intimation {
            font-family: 'Plus Jakarta Sans', sans-serif;
            color: white;
            padding-left: 140px;
            padding-right: 140px;
            margin-bottom: 35px;
            text-align: center;
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 0.18px;
        }

        .message {
            padding-left: 60px;
            padding-right: 40px;
            margin: 25px 0;
            text-align: left;
            color: white;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 1.5%;
        }

        @media screen and (max-width: 600px) {

            .intimation,
            .message {
                padding-left: 12%;
                padding-right: 12%;
            }
        }
    </style>
</head>

<body>
    <div
        style="width:100%;padding:0;margin:0;box-sizing:border-box;background: #033348;padding:2% 4%;padding-bottom: 4%;max-width: 600px;">
        <img style="height: 60px;width: 60px;padding-left:4%;margin-top:1%;margin-bottom:1.5%;"
            src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/mittarv_logo_white_tm.png" />

        <div style="background: #054A68;padding:2% 4%;margin-bottom:2%;border-radius: 5px;text-align:center">
            <img style="margin-top:40px;margin-bottom:1.5%; height:60px" src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/feedbackAck.png" />
            <div
                style="margin: 25px 0 30px 0;color:white;font-weight:700;font-family: 'Plus Jakarta Sans', sans-serif;font-size: 14px;letter-spacing: 1.5%;">
                Dear {{username}},</div>
            <p class="message">
                We want to extend our gratitude to you for taking the time to share your feedback with us. Your input is immensely valuable as we strive to enhance our platform for you and all our users.
                <br/><br/>
                Rest assured that your feedback has been received and our team is already hard at work, dedicated to making your experience even better. Your insights play a significant role in guiding our efforts to create a better experience for everyone who uses our platform.   
                <br/><br/>
                We deeply appreciate your commitment to creating a lasting legacy through our service. Your emotional wills and assets are an essential part of the meaningful journeys we support.
                <br/><br/>
                If you have any more thoughts or suggestions in the future, please don't hesitate to reach out. We're here to listen and learn from you.
                <br/><br/>
                Thank you for being a vital part of our community.
            <p
                style="font-size: 12px;font-family: 'Plus Jakarta Sans', sans-serif;color:white;font-weight:400;letter-spacing: 1.5%;margin-top: 30px ;">
                Best regards,<br>Team<span
                    style=" font-size: 12px;font-family: 'Plus Jakarta Sans', sans-serif; color: #84B5D2;font-weight: 700;letter-spacing: 1.5%;">
                    Mitt
                    Arv</span><br>
                <b>Zero - Life - Infinity</b>
            </p>
            <div
                style="height:2px;background:#033348;margin-top: 2.5%; margin-bottom: 2.5%; margin-left: -4%; margin-right: -4%;">
            </div>
            <p style="font-family: 'Plus Jakarta Sans', sans-serif;font-size: 12px;color: white !important;letter-spacing: 1.5%;">
                For any inquiries, kindly reach out to us at<br> support@mittarv.com
            </p>
        </div>
    </div>
</body>

</html>