<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="color-scheme" content="light dark">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap"
    rel="stylesheet">
  <style>
    .center {
      margin: auto;
      width: 50%;
    }

    .container {
        font-family: 'Plus Jakarta Sans', sans-serif;
        color: black;
        width: 100%;
        background: #FFFFFF;
        /* padding: 2% 4%; */
        /* padding-bottom: 4%; */
        /* box-sizing: border-box; */
        /* border: 2px solid green; */
    }

    .content {
        width: 500px;
        min-height: 200px;
        padding: 24px 50px;
        margin: 0 auto;
        /* border: 2px solid red; */
    }

    .mittarv_header {
        width: 100%;
        height: 79px;
        line-height: 79px;
        background-color: #E7F3F8;
        text-align: center;
    }

    .mittarv_header > img {
        vertical-align: middle;
    }

    .party_popper {
        width: 100%;
        text-align: center;
    }

    .party_popper > img {
        width: 500px;
        height: 208px;
    }

    .welcome_message_header {
        width: 100%;
        color: #454754;
        font-size: 28px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: 1%;
        margin-bottom: 8px;
        text-align: center;
    }

    .user {
        width: 100%;
        color: #167E7E;
        font-size: 22px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 1%;
        margin-bottom: 24px;
        text-align: center;
    }

    .welcome_message_body {
        width: 100%;
        text-align: left;
        color: #454754;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.5%;
        margin-bottom: 32px;
    }

    .premium_benefits {
        width: 100%;
        margin-bottom: 48px;
    }

    .premium_benefits_header {
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.5%;
        margin-bottom: 8px;
        text-align: left;
    }

    .premium_benefits > ul {
        margin-bottom: 32px;
        padding-left: 20px;
    }

    .premium_benefits > ul > li {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.5%;
        color: #454754;
    }

    .premium_benefits_text1 {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.5%;
        color: #454754;
        text-align: left;
    }

    .premium_benefits_text2 {
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.5%;
        color: #454754;
        text-align: left;
    }

    .regards_box {
        margin-top: 24px;
        border-top: 2px solid #C7C9D1;
        padding-top: 24px;
        text-align: center;
    }

    .regards {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.5%;
        color: #454754;
        margin-bottom: 16px;
    }

    .team_mittarv {
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.5%;
        color: #167E7E;
    }

    .zero_life_infinity {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.5%;
        color: #167E7E;
    }

    .mittarv_footer {
        width: 100%;
        background-color: #E7F3F8;
        padding: 48px 0px;
        text-align: center;
    }

    .platforms {
        margin-bottom: 52px;
    }

    .available_on {
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 1%;
        color: #8F92A3;
    }

    .devices {
        font-size: 21px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 1%;
        color: #454754;
        margin-top: 6px;
        
        height: 40px;
        line-height: 40px;
        text-align: center;
    }

    .devices > img, .devices > span {
        vertical-align: middle;
    }

    .social_icons_box {
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 1%;
        color: #8F92A3;
        margin-bottom: 52px;
    }

    .follow_us_on {
        margin-bottom: 8px;
    }

    .social_icons > a {
        display: inline-block;
        margin-right: 6px;
        border-radius: 50%;
    }

    .social_icons > a > img {
        display: block;
    }

    .inquiries {
        text-align: center;
    }

    .inquiries > div {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.5%;
        color: #454754;
    }

    .inquiries > a {
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.5%;
        color: #454754;
    }

    .dot {
        display: inline-block;
        height: 6.64px;
        width: 6.64px;
        background-color: #454754;
        border-radius: 50%;
        margin: 0px 8px;
    }

    @media only screen and (max-width: 600px),
    only screen and (max-device-width:600px) {

        .container {
            /* padding: 2% 4%; */
            /* padding-bottom: 4%; */
        }

        .content {
            width: 320px;
            padding: 24px 20px;
        }

        .party_popper > img {
            width: 320px;
            height: 152px;
        }

        .welcome_message_header {
            width: 100%;
            color: #454754;
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 1%;
            margin-bottom: 8px;
            text-align: center;
        }

        .user {
            width: 100%;
            color: #167E7E;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.5%;
            margin-bottom: 24px;
            text-align: center;
        }

        .welcome_message_body {
            width: 100%;
            text-align: left;
            color: #454754;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0%;
            margin-bottom: 32px;
        }

        .premium_benefits_header {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.5%;
            margin-bottom: 8px;
            text-align: left;
        }

        .premium_benefits > ul > li {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.5%;
            color: #454754;
        }

        .premium_benefits_text1 {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0%;
            color: #454754;
            text-align: left;
        }

        .premium_benefits_text2 {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.5%;
            color: #454754;
            text-align: left;
        }

        .regards {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            color: #454754;
            margin-bottom: 16px;
        }

        .team_mittarv {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.5%;
            color: #167E7E;
        }

        .zero_life_infinity {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
            color: #167E7E;
        }

        .devices {
            font-size: 15px;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 1%;
            color: #454754;
            margin-top: 6px;
            
            height: 40px;
            line-height: 40px;
            text-align: center;
        }

        .inquiries > div {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0%;
            color: #454754;
        }

    }
  </style>
</head>

<body>
  <div class="container">
    <div class="mittarv_header">
        <img 
            src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/mittarv-logo-horizontal-coloured.png"
            alt="mittarv icon" 
            width="137px"
            height="40px"
        />
    </div>

    <div class="party_popper">
        <picture class="party_popper">
            <source media="(max-width: 600px)" srcset="https://mittarvtesting.blob.core.windows.net/mittarv-icons/TimerClockSmall.png">
            <source media="(min-width: 601px)" srcset="https://mittarvtesting.blob.core.windows.net/mittarv-icons/TimerClockBig.png">
            <img src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/Party%20Popper.png" alt="Responsive Image">
        </picture>
    </div>

    <div class="content">

        <div class="welcome_message_header">
            <div>Final Reminder: Action Needed to Keep the Account Active!
            </div>
        </div>

        <div class="user">
            Hi {{userName}},
        </div>

        <div class="welcome_message_body">
          <!-- {{paragraph_1}} -->
           <div class="">
            It’s been {{days}} days since the last activity on the account. 
           </div>

        </div>
        
        <div class="welcome_message_body">
            Your legacy deserves to be continued. Whether it’s heartfelt messages or essential information, it’s all safe for now, but some of your data exceeds the free plan limit and may be permanently deleted soon.
          
            <div class="">
                Log in to manage your data:
                <ol>
                    <li>
                        Upgrade to a premium plan to retain everything
                    </li>
                    <li>
                        Or delete excess items to stay within your current plan
                    </li>
                </ol>
            </div>
   
            To protect your data and privacy, we’ll need to delete the account and all associated information if no action is taken within the next 30 days. We want to be transparent about our data retention and deletion policies, and we hope you understand our commitment to protecting both our users and our platform.
        </div>
        <div class="welcome_message_body">
            <!-- {{paragraph_1}} -->
            To keep the legacy intact, simply log into Mitt Arv. Thank you for your attention to this matter.

  
          </div>
        <div class="regards_box">
            <div class="regards"> Warmest regards, </div>
            <div class="team_mittarv"> Team Mitt Arv </div>
            <div class="zero_life_infinity"> Zero — Life — Infinity </div>
            <div class="zero_life_infinity">Need help? Reach us at support@mittarv.com. </div>
        </div>

    </div>

    <div class="mittarv_footer">

        <div class="platforms">
            <div class="available_on"> Available on </div>
            <div class="devices"> 
                <img src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/Android.png" width="21px" height="28px" /> <span> Android </span>
                <div class="dot">  </div>
                <img src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/iOS.png" width="28px" height="28px" /> <span> iOS </span>  
                <div class="dot">  </div>
                <img src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/Web.png" width="28px" height="28px" /> <span> Web </span> 
            </div>    
        </div>

        <div class="social_icons_box">
            <div class="follow_us_on"> Follow Us On </div>
            <div class="social_icons">
                <a href="https://www.linkedin.com/company/mittarv/" target="_blank"> 
                    <img src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/Linkedin.png" width="36px" height="36px" /> 
                </a>  
                <a href="https://www.facebook.com/mittarv/?_rdr" target="_blank"> 
                    <img src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/Facebook.png" width="36px" height="36px" /> 
                </a> 
                <a href="https://medium.com/mittarv" target="_blank"> 
                    <img src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/Medium.png" width="36px" height="36px" /> 
                </a> 
                <a href="https://x.com/Mitt_Arv" target="_blank"> 
                    <img src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/X.png" width="36px" height="36px" /> 
                </a>  
            </div>
        </div>

        <div class="inquiries">
            <div> For any inquiries, kindly reach out to us at </div>
            <a href="mailto:support@mittarv.com"> support@mittarv.com </a>
        </div>
        
    </div>

  </div>
</body>

</html>
