<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="color-scheme" content="light dark">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <style>

    .container {
      font-family: 'Plus Jakarta Sans', sans-serif;
      color: white;
      width: 100%;
      background: #033348;
      padding:2% 4%;
      padding-bottom: 4%;
      box-sizing: border-box;
    }
    
    .logo {
      height: 60px;
      width: 60px;
      padding-left: 4%;
      margin-top: 1%;
      margin-bottom: 1.5%;
    }
    
    .welcome-section {
      background: #054A68;
      padding:2% 4%;
      margin-bottom: 2%;
      border-radius: 5px;
      text-align: center;
    }
    
    .welcome-image {
      margin-top: 51px;
      margin-bottom: 26px;
      height:64px;
    }
    
    .welcome-title {
      margin-bottom: 33px;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.21px;
      line-height: 20px;
    }
    
    .welcome-message {
      margin-bottom: 26px;
      text-align: center;
      padding-left: 130px;
      padding-right: 130px;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.21px;
    }
    
    .welcome-body {
      padding-left: 78px;
      padding-right: 75px;
      margin-bottom: 25px;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.18px;
      text-align: left;
    }
    
    .center {
        margin: auto;
        width: 50%;
    }
    
    .center p {
      color: white ;
      text-decoration: none;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: 0.18px;
      margin: auto;
    }
    .intimation {
      padding-left: 153px;
      padding-right: 152px;
      margin-bottom: 35px;
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.18px;
    }
    
    .mission-section-1 {
      padding-left: 78px;
      padding-right: 67px;
      margin-bottom: 30px;
      text-align: left;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.18px;
    }

    .mission-section-2 {
      padding-left: 78px;
      padding-right: 67px;
      margin-bottom: 72px;
      text-align: left;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.18px;
    }
    
    .asset-vault {
        padding-left: 78px;
        margin-bottom: 72px;
        display: flex;
    }
    
    .asset-vault .asset-description {
      flex: 1;
    }
    .asset-vault .asset-description .asset-title {
      margin-top: 26px;
      margin-bottom: 25px;
      text-align: left;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.21px;
    }

    .asset-vault .asset-description .asset-body {
      text-align: left;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.18px;
    }
    
    .asset-vault .asset-image {
      height: 200px;
      width: 250px;
      object-fit: contain;
    }
    
    .emotional-will {
      display: flex;
      padding-left: 20px;
      margin-bottom: 45px;
    }
    
    .emotional-will .emotional-description {
      flex: 1;
      padding-left: 10px;
      
    }

    .emotional-will .emotional-description .emotional-title {
      margin-bottom: 29px;
      text-align: left;
      font-weight: 700;
      font-size:14px;
      letter-spacing: 0.21px;
    }

    .emotional-will .emotional-description .emotional-body {
      text-align: left;
      padding-right: 10px;
      font-weight: 400;
      font-size:12px;
      letter-spacing: 0.18px;
    }
    
    .emotional-will .emotional-image {
      margin-top: 0px;
      height: 200px;
      width: 250px;
      object-fit: contain;
    }
    
    .signature {
      font-size: 12px;
      letter-spacing: 0.18px;
    }
    
    .signature span {
      font-weight: 700;
      color: #84B5D2;
    }
    
    .footer {
      height: 2px;
      background: #033348;
      margin-top: 2.5%;
      margin-bottom: 2.5%;
      margin-left: -4%;
      margin-right: -4%;
    }
    
    .contact-info {
      padding-left: 140px;
      padding-right: 134px;
      font-size: 12px;
      letter-spacing: 0.18px;
    }
    
    .contact-info span {
      font-weight: 700;
      color: #84B5D2;
    } 
    @media screen and (prefers-color-scheme: light)  {
      .container{
        color: black;
      }
    }

    @media screen and (max-width: 600px)  {
        .container {
        padding: 2% 4%;
        padding-bottom: 4%;
      }

      .logo{
        height: 45px;
        width: 45px;
      }

      .welcome-section,
      .welcome-body,
      .mission-section-1,
      .mission-section-2,
      .goal-section,
      .asset-vault,
      .emotional-will,
      .signature,
      .footer,
      .contact-info {
        padding-left: 4%;
        padding-right: 4%;
      }

      .welcome-message,
      .intimation{
        padding-left: 12%;
        padding-right: 12%;

      }

      .mission-section-2, .asset-vault{
        margin-bottom: 40px;
      }

        .asset-vault,.emotional-will{
            flex-direction: column;
        }
        .asset-vault .asset-image{
            height: 100px;
            padding-top: 50px;
            width: 125px;
            align-self: center;
            
        }
        .emotional-will .emotional-image{
            padding-top: 50px;
            height: 100px;
            width: 125px;
            align-self: center;
            order: 2;
        }
        
    }
  </style>
</head>

<body>
  <div class="container">
    <img class="logo" src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/mittarv_logo_white_tm.png" />

    <div class="welcome-section">
      <img class="welcome-image" src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/welcome.png" />
      <h2 class="welcome-title">Hey {{userName}}!</h2>
      <h2 class="welcome-message">Thank you for your active presence within our community! </h2>
      <p class="welcome-body">We appreciate your trust in our platform and are committed to providing you with an exceptional experience.<br><br>

        At Mitt Arv, we empower individuals worldwide to proactively plan their legacy, prioritize emotional well-being, seamlessly manage assets and unlock a brighter, financially stable future!<br><br>
        
        Ignite Your Life's Legacy with our comprehensive platform, where like-minded visionaries strive to leave a lasting impact. Now that you are a part of our community, we can’t wait to witness your journey as you head towards exploring the wonders of our product lineup!
        </p>
      
      <div class="center" style="margin-bottom: 30px;width:120px; height: 30px; background-color: #fd9320cc;border-radius:20px; display: flex;">
        <p>
          <a href="https://play.google.com/store/apps/details?id=com.superapp.mittarv" style="text-decoration:none;" target="_blank">
          Download
          </a>
        </p>
      </div>
      
      <div class="asset-vault">
        <div class="asset-description">
          <p class="asset-title">Asset Vault</p>
          <p class="asset-body">Your wealth and assets deserve the utmost protection, and Asset Vault delivers exactly that!<br><br>

            This secure and easy-to-use platform enables you to centralize and manage all your valuable assets, properties, and essential documents in one place. Seamlessly share your listings with loved ones, trustees, and friends, granting them instant access and peace of mind when it truly counts!</p>
        </div>
        <img class="asset-image" src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/welcome_av.png" />
      </div>
      <div class="emotional-will">
        <img class="emotional-image" src="https://mittarvtesting.blob.core.windows.net/mittarv-icons/welcome_ew.png" />
        <div class="emotional-description">
          <p class="emotional-title">Emotional Will</p>
          <p class="emotional-body">Emotional Will is a unique product that empowers you to craft a timeless legacy that transcends the conventional concept of a will. It empowers you to convey heartfelt final messages to your loved ones, preserving your priceless emotions in the form of text, audio, or video wills. Express your deepest emotions, share your wisdom, and ensure that your emotional legacy lives on!</p>
        </div>
      </div>
      <div class="intimation">
      </div>
      <p class="signature">Warmest regards,<br>Team <span>Mitt Arv</span><br><b>Zero - Life - Infinity</b></p>
      <div class="footer"></div>
      <p class="contact-info">For any inquiries, kindly reach out to us at<br> support@mittarv.com</p>
    </div>
  </div>
</body>

</html>
